
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset end  */

body {
		background: darkslateblue;
		overflow-y: scroll;
}

.main-container {
		background: blueviolet;
		width: 50%;
		margin: auto;
		margin-top: 100px;
		border: 2px solid darkseagreen;
		border-radius: 10px;
		box-shadow: 15px 15px 20px darkslategrey;
}

#start{
		display: block;
}

#start, #start *{
		text-align: center;
		margin: auto;
}

#game-name {
		font-family: 'Allerta Stencil';font-size: 80px;
		margin: 50px;
		color: beige;
		text-shadow: 2px 2px 8px white;
		text-align: center;
}

#game-name:hover {
		color: cadetblue;
		text-shadow: 2px 2px 8px paleturquoise;
		cursor: default;
}

#game-name-2 {
		font-family: 'Allerta Stencil';font-size: 30px;
		margin: 25px;
		color: beige;
		text-shadow: 4px 4px 18px white;
		text-align: center;
}

#game-name-2:hover {
		color: cadetblue;
		text-shadow: 4px 4px 18px paleturquoise;
		cursor: default;
}

#input-number {
		margin: 25px;
		color: black;
		width: 290px;
		max-width: 1000px;
}

::placeholder {
	  color: darkolivegreen;
		font-size: 15px;
		font-weight: bold;
	  opacity: 1; /* Firefox */
}

input[type=number], select {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
		background-color: #3CBC8D;
		font-family: monospace;
		font-weight: 1000;
		font-size: 120%;
	  color: white;
	  border: 3px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
		-webkit-transition: 0.5s;
	  transition: 0.5s;
	  background-position: 10px 10px;
}
input[type=number]:focus {
  	border: 3px solid #555;
}

#start-btn {
		margin: auto;
		margin-bottom: 50px;
		font-family: 'Lakki Reddy', cursive;
		font-size: 1.5em;
		cursor: pointer;
		padding: 20px;
		padding-top: 33px;
		width: 120px;
		background-color: darkslateblue;
		border-radius: 25px;
		box-sizing: border-box;
		height: 100px;


		color: greenyellow;
		font-weight: bold;
		box-shadow: inset 0 0 15px #0f0f00, 3px 3px 10px #0f0f00;
		/* box-shadow: 2px 2px 10px #0f0f00; */
}

#start-btn:hover, .jqhover{
		color: yellow !important;
		font-weight: 400 !important;
		border: 1px solid #2f2f8f !important;
		box-shadow: inset 2px 3px 8px #0f0f0f !important;
		/* box-shadow: 0 0 0 #000000; */
		box-sizing: border-box !important;
		user-select: none !important;
}

#name-in-game {
/*	display: none;*/
}

#puzzle{
		display: none;
/*
	background-color: #2196F3;
	width: 50%;
	margin: auto;
	margin-top: 100px;
	border: 2px solid darkseagreen;
	border-radius: 10px;
	box-shadow: 15px 15px 20px darkslategrey;
*/
}

#puzzle-box{
		background-color: #2196F3;
		width: 70%;
		margin: 50px auto;
		border: 2px solid darkseagreen;
		border-radius: 10px;
    box-shadow: 3px 3px 15px #0f0f00;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    /*  background-color: #2196F3;*/
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;

}

.grid-container > div:not(.blank) {
    background-color: rgba(250, 150, 0, 0.8);
    text-align: center;
/*    padding: 20px 0;*/
/*    font-size: 30px;*/
    cursor: pointer;
    font-family: 'Monoton', cursive;
		font-size: 3.5vw;
    border-radius: 3px;
    border: 1px solid rgba(255, 50, 50, 0.9);
/*    width:%100;*/
		min-width: 50px;
		max-width: 350px;
    height:0;
    padding-bottom:69%;
    padding-top:31%;
    box-shadow: 1px 1px 5px #0f0f00;
    transition: 0.1s;
    user-select: none;
}
@media screen and (max-width: 3500px) {
  .grid-container > div:not(.blank) {
     /* font-size:25px; */
  }
}

.grid-container:not(.win) > div:not(.blank):hover{
    background-color: rgba(250, 150, 0, 0.78);
    text-align: center;
/*    padding: 20px 0;*/
/*    font-size: 30px;*/
    /* font-family: 'Monoton', cursive; */
    font-size: 3.5vw;
    font-weight: 500;
    color: gold;
    border-radius: 3px;
    border: 0px solid rgba(255, 50, 50, 0.8);
/*    width:%100;*/
    height: 0;
    padding-bottom: 66%;
/*    transition: 1s;*/
    padding-top: 35%;
    padding-left: 1px;
    box-sizing: border-box;
    box-shadow: inset 1.2px 1.2px 4px #0f0f00, inset 2.5px 2.5px 0px rgba(255, 50, 50, 0.8);;
}


.win {
		animation: yourCustomAnimation 3.5s;
    font-size:3.5vw;
    font-weight: 500;
    color: red;
    box-sizing: border-box;
		box-shadow: 5.5px 5.5px 100px rgba(255, 50, 50, 0.9);
}

@keyframes yourCustomAnimation {
    from {
        box-shadow: 3px 3px 15px #0f0f00;
    }
    to {
				color: red;
        box-shadow: 5.5px 5.5px 100px rgba(255, 50, 50, 0.9);
    }
}

.blank {
    background-color: rgba(250, 250, 210, 0.65);
/*    text-indent: -9999px ;*/
    padding-left: 1px;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 8px #0f0f00;
		max-width: 350px;
		min-width: 20px;
		height:0;
    padding-bottom:70%;
    padding-top:31%;
    border-radius: 3px;
}

#menu-btn {
    display: block;
    /*  background-color: #2196F3;*/
    box-sizing: border-box;

    background-color: #2196F3;
		width: 20%;
		margin: 10px auto 30px auto;
		/* border: 2px solid darkseagreen; */

		font-family: 'Lakki Reddy', cursive;
		font-size: 1.5em;
		cursor: pointer;
		padding: 17px;
		padding-top: 42px;
		width: 100px;
		background-color: darkslateblue;
		border-radius: 25px;
		box-sizing: border-box;
		height: 100px;

		color: greenyellow;
		font-weight: bold;
		box-shadow: inset 0 0 15px #0f0f00, 3px 3px 10px #0f0f00;

}

#menu-btn:hover , .jqhover1{
	color: yellow !important;
	font-weight: 400 !important;
	border: 1px solid #2f2f8f !important;
	box-shadow: inset 2px 3px 8px #0f0f0f !important;
	/* box-shadow: 0 0 0 #000000; */
	box-sizing: border-box !important;
	user-select: none !important;
}
